.body-cmp{
    h3{
        span{
            font-style: italic;
        }
    }

    h1{
        font-size: 3.2em;
    }

    .MuiCardMedia-media{
        width: 150px;
        margin: auto;
    }

    .MuiCardContent-root p{
        min-height: 92px;
    }
    .MuiListItem-root{
        padding-top: 0px;
        padding-bottom: 0px;
        div{
            span{
                font-size: 0.95rem;
                font-weight: 400;
                line-height: 1.0;
            }
        }
    }
    .get-started-cmp{
        text-align: center;
    }
}